:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  color: #cccccc;

  background: #1e1e1e;
}


/*
|--------------------------------------------------------------------------
| Global Box Sizing
|--------------------------------------------------------------------------
*/

* {
  box-sizing: border-box;
}


/*
|--------------------------------------------------------------------------
| Root
|--------------------------------------------------------------------------
*/

html,
body,
#app {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}


/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
*/

body {
  background: #1e1e1e;
}


/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

button {
  font-family: inherit;
}